[Unit]
Description=The GamestopOfficial TweetBot
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/gamestopOfficialTweetBot
ExecStart=/usr/bin/make run
User=pi

[Install]
WantedBy=multi-user.target

